
<ActionBar title="Roleta da Sorte" class="action-bar">
</ActionBar>


<StackLayout >

    <AbsoluteLayout class="roda">
        <AbsoluteLayout class="sa" id="estrutura" >
            <label class="item"><span><strong>5</strong></span></label>
            <label class="item2"></label>
            <label class="item3"></label>
            <label class="item4"></label>
            <label class="item5"></label>
            <label class="item6"></label>
            <label class="item7"></label>
            <label class="item8"></label>
            
        </AbsoluteLayout>
           
        
        
    </AbsoluteLayout>

        <Button text="giro" (tap)="girar($event)" class="btn btn-primary btn-active"></Button>
        
    </StackLayout>